---
---

@import "{{ site.theme }}";

header {
  background-image: linear-gradient(to top, #483d41, #2b2427);
}



body {
  background-color: #d4d2d1;
}





a {
  color: black;
  font-size: 15px;
  text-decoration: underline;
}
